body{
font-family: Arial;
background:#f5f5f5;
margin:0;
padding:0;
}

.container{
max-width:600px;
margin:auto;
padding:20px;
text-align:center;
}

h1{
font-size:28px;
}

h2{
font-size:22px;
}

button{
width:100%;
padding:14px;
margin:10px 0;
font-size:16px;
border:none;
background:#3498db;
color:white;
border-radius:6px;
}

button:hover{
background:#2980b9;
}

.option{
background:white;
color:black;
border:1px solid #ddd;
}

#scoreboard{
font-size:18px;
font-weight:bold;
margin-bottom:20px;
}
